{% extends 'templateadmin.html.twig' %}
{% block script_calcul %}
{% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Images</h4>
            <p class="category">
              Toutes
            </p>
          </div>          
        </div>
    </div>
	<div class="content">
          <div class="row">

      {% for image in images %}
         <div class="col-md-4">
            <div class="card card-user">
               <div class="image" style="height:200px;">
                  <img src="{{ asset('/upload/image_site/' ~ image.imageName ) }}" alt="...">
               </div>
               <div class="content" style="min-height:0px;">
                  <div class="author" style="margin-top:0px;">
                     <h4 class="title">{{ image.id }} - {{ image.name }}<br>
                     </h4>
                  </div>
                  <hr>
                  <div class="text-center" style="min-height:50px;">
                     <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('editImage', {'id': image.id }) }}">
                     <button class="btn btn-info btn-fill pull-left">Modifier</button>
                     </a>                    
                  </div>
               </div>
            </div>
        </div>
         {% endfor %}
       </div>
   
</div>
{% endblock %}
{% block script_chart %}
{% endblock %}