{% extends 'templateadmin.html.twig' %}
{% block script_calcul %}
{% endblock %}
{% block body %}
<div class="mdl-grid demo-content">
   <div>
      <h4>Image</h4>
   </div>
   <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
      <!-- Square card -->
      <style>
         .demo-card-square.mdl-card {
         width: 320px;
         height: 320px;
         margin: 10px;
         }
         .demo-card-square > .mdl-card__title {
         color: #fff;
         }
      </style>
      {% for image in images %}
      {% if loop.index0/3 == 0 or loop.index0/3 == 1 %}
      <div class="row">
      {% endif %}
         <div class="col-md-4">
            <div class="card card-user">
               <div class="image">
                  <img src="{{ asset('/upload/image_site/' ~ image.imageName ) }}" alt="...">
               </div>
               <div class="content">
                  <div class="author">
                     <h4 class="title">{{ image.id }} - {{ image.name }}<br>
                     </h4>
                  </div>
                  <hr>
                  <div class="text-center" style="min-height:50px;">
                     <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('editImage', {'id': image.id }) }}">
                     <button class="btn btn-info btn-fill pull-left">Modifier</button>
                     </a>                    
                  </div>
               </div>
            </div>
         </div>
              {% if loop.index0/3 == 0 or loop.index0/3 == 1 %}
  </div>
  {% endif %}
         {% endfor %}
      </div>
   </div>

</div>
{% endblock %}
{% block script_chart %}
{% endblock %}