body{
    background-color: #FFFFFF;
}
.logo_div {
    background-color: #FFFFFF;
}
.customisation_noeud{
    background-color: #252259;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nos_collections{
padding-right: 0px;
padding-left: 0px;
}

.produits_populaires{
	background-color: #E8E8E8;
	padding-bottom: 20px;
}

.made_in_france{
			padding-top: 10%;
			padding-bottom: 10%;
			height:80%;


}
.footer{
		background-color: #3B3B3B;
		color:#F5F5F5;
		padding-top: 10px;
		padding-bottom: 10px;
}


/*Police responsive*/
h2{
	font-size:2.143em;
}
h3{
	font-size:1.5em;
}

.header h2{
color:#25225B;
font-size:1.75em;
}

.customisation_noeud h2{
color:#FFFFFF;
font-size:1.75em;
}