{% trans_default_domain 'FOSUserBundle' %}


<div class="panel panel-info">

    <div class="panel-heading"><h3 class="panel-title">Adresse 1  <a style="position:relative; left:70%">modifier</a> </h3>
    </div>
    <div class="panel-body">
        {{ user.adress.adress}}<br>
        {{ user.adress.zipcode}} {{ user.adress.city}}<br>

    </div>
</div>



