{% trans_default_domain 'FOSUserBundle' %}

<table style="width:100%">
  <thead>

    <td>Nom</td>
    <td>Adresse</td>
    <td>Code Postal</td>
<td>Ville</td>
</thead>
<tbody>
  <tr>
<td>Jackson</td>
    <td>{{ user.adress.adress}}</td>
    <td>{{ user.adress.zipcode}}</td>
    <td>{{ user.adress.city}}</td>
  </tr>

  <tbody>

</table>
