{% extends 'base.html.twig' %}


{% block body %}
<body id="page-top" ng-app="noeudPap" ng-controller="noeudPapController as noeudPap">
	<!-- Message d'accueil -->
<a onclick="hide_powered()">test</a>
<style>

</style>
    <section id="slider-homepage">
        <div class="container">
				<div class="row text-center">

<iframe src="//widgets-code.websta.me/w/ab02edb3daea?ck=MjAxNi0wOC0xMVQxODoyMTo1MS45MTVa" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:auto;height:100%;width:100%;"></iframe> <!-- WEBSTA WIDGETS - widgets.websta.me -->	<div class="col-md-3 col-sm-6 hero-feature">
	</div>



		</div>

        </div>
    </section>

    <section id="homepage-collections">
        <div class="container-fluid">

        </div>
    </section>

		<script>
		function hide_powered(){
		var a = document.getElementsByClassName("powered_by");
		for (i=0; i<a.length; i++){
			a[i].style.height='0px';
			a[i].style.width='0px';

		}
}



		</script>


{% endblock %}
