{% extends 'base.html.twig' %} {% block body %}

<body>
    <!-- FAQ START -->
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h1 class="heading">Conditions générales de vente</h1></div>
            </div>
        </div>
    <div class="container text-left">

<h2> Introduction</h2>
Les présentes conditions générales de vente régissent l’utilisation du site internet www.agathevousgate.fr et les relations contractuelles entre :
D’une part,
Agathe Vous Gâte,  microentreprise, située 1 rue Thiers, au capital de 1€. L’entreprise, immatriculée au registre des commerces et sociétés de Reims sous le numéro 813493905, est représenté par Mme Agathe LEFEUVRE en qualité de gérante.
La société peut être jointe par téléphone au numéro suivant 06 27 55 86 71 et par mail (contact@agathevousgate.fr) du lundi au vendredi entre 9h30 et 18h.
D’autre part,

Toute personne physique ou morale agissant en qualité de consommateur, souhaitant passer commande sur le site www.agathevousgate.fr.
<h2> Prix</h2>
Les prix proposés sur le site www.agathevousgate.fr sont exprimés en euros, TVA non applicable.
Les frais de livraison sont à la charge du consommateur. Les conditions de celle-ci seront précisées dans la rubrique livraison.
<h2>Produits proposés</h2>
Les caractéristiques essentielles des produits et leurs prix sont proposés sur le site internet de la société. La société Agathe Vous Gâte s’engage sur l’honneur à la véracité de ces informations.
Le consommateur atteste avoir pris connaissance des frais de livraison, des modalités de paiement ainsi que des modalités de l’exécution du contrat.
Le vendeur s’engage à honorer la commande dans la limite des stocks disponibles. A défaut, le vendeur s’engage à en avertir le client.
<h2> Passation de la commande</h2>
Lors de la passation de la commande, le consommateur déclare avoir pris connaissance et accepté les présentes conditions générales de vente. La validation de la commande vaut donc acceptation de ces dernières.
Un récapitulatif de la commande sera transmis par mail, ainsi qu’un exemplaire des présentes conditions générales de vente et le formulaire de rétractation. Les conditions de la rétractation seront précisées dans la rubrique : Droit de rétractation.
<h2>Livraison</h2>
<h3> Conditions générales</h3>
Les produits commandés seront livrés à l’adresse communiquée par le consommateur.
La société Agathe Vous Gâte ne livrera qu’en France Métropolitaine.

La société Agathe Vous Gâte, a conclu un contrat avec le transporteur GLS et la Poste. La livraison des produits sera assurée sous 24 à 48h maximum.
En cas de retard dans le délai de livraison, le consommateur pourra en vertu de l’article L138-2 du code de la consommation décider de résoudre le contrat. Le vendeur sera tenu de rembourser le consommateur à hauteur des sommes versées dans les conditions de l’article L138-3 du code de la consommation.
<h3> Transfert de propriété</h3>
Le transfert de propriété au profit du consommateur n’est réalisé qu’après paiement complet par ce dernier.

<h3>Transfert de risque</h3>
Le transfert des risques de perte et de détérioration des produits se réalise quant à lui au moment de la réception du produit par le client.
<h2> Le paiement</h2>
Le paiement est exigible dès la passation de la commande.
Les modes de paiements acceptés sont les suivants :<br>
a)	Cartes bancaires.</br>
Le paiement par carte bancaire est possible dans la limite des cartes suivantes :
Cartes bleus, Visa et Mastercard.
Le consommateur sera invité à communiquer son numéro de carte bancaire, la date d’expiration de cette dernière ainsi que les 3 chiffres présents au dos de la carte.
Le paiement sécurité sera assuré par les deux prestataires de paiement de la société, STRIPE et PayPal. Les informations bancaires seront conservées par ces mêmes prestataires.
Après la confirmation du paiement par le consommateur, et vérification des informations bancaires, le montant de la commande est immédiatement débité.
<br>b)	Compte PayPal<br>
L’utilisation d’un compte PayPal comme mode de paiement est aussi possible. Il sera alors demandé au consommateur d’utiliser l’adresse mail relié à son compte PayPal et son mot de passe PayPal.

<h2>Droit de rétractation</h2>
En vertu de l’article L221-18 du code de la consommation, le consommateur dispose d’un délai de 14 jours pour exercer son droit de rétractation. S’agissant de la conclusion d’un contrat de vente de bien, ce délai court à compter de la réception du bien par le consommateur.
Si la commande est effectuée en plusieurs livraisons, le délai court à compter de la dernière livraison.
Pour exercer son droit de rétractation, le consommateur remplit le formulaire de rétractation transmis au moment de la commande conformément à l’article L221-21 du code de la consommation.
Ce formulaire devra être envoyé à l’adresse suivante : 1 rue Thiers  51 100 Reims.
Les produits devront être restitués avec leur emballage dans leur état d’origine afin qu’ils puissent être commercialisés de nouveau à l’état neuf.
Le remboursement des sommes interviendra dans un délai de 14 jours à compter de la réception des produits renvoyés par le consommateur.
<h2> Garanties</h2>
La société Agathe Vous Gâte s’engage à respecter toutes les garanties légales de conformité et de vices cachés. Lesquelles sont ci-après énumérées :
a.	Les garanties légales issues du code civil.
« Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage, que l’acheteur ne l’aurait pas acquise, ou n’en n’aurait donné qu’un moindre prix, s’il les avait connus. » Article 1641 du code civil.
« Le vendeur n'est pas tenu des vices apparents et dont l'acheteur a pu se convaincre lui-même. » Article 1642 du code civil.
En présence de vices cachés,  « l'acheteur a le choix de rendre la chose et de se faire restituer le prix, ou de garder la chose et de se faire rendre une partie du prix. » Article 1644 du Code civil.
Le délai d’action du consommateur en présence d’un vice caché est de deux ans à compter de la découverte du vice. Article 1648 du Code civil.
b.	Les garanties légales issues du code de la consommation.
S’agissant des garanties légales de conformité, le vendeur s’engage à délivrer un bien conforme au contrat et répond des défauts de conformité. Article 217-4 du Code de la consommation.
En vertu de l’article L217-5, le bien est conforme au contrat :
« 1° S'il est propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :
- s'il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;
- s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;
2° Ou s'il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté. »

En cas de défaut de conformité, l’article L217-9 du Code de la Consommation prévoit que le consommateur choisit entre la réparation et le remplacement du bien.
Le délai pour agir en défaut de conformité est de deux ans à compter de la délivrance du bien, selon l’article L217-12 du code de la consommation.

<h2> Force majeure</h2>
Le vendeur ne sera pas tenu responsable des retards survenus en raison d’un cas de force majeure. Il s’engage par ailleurs à informer le consommateur de la survenance de ces évènements.
<h2> Données personnelles</h2>
La société Agathe Vous gâte n’effectue aucun transfert de données personnelles. Les informations recueillis sur les consommateurs seront employés uniquement pour la réalisation de leur commande et pour l’envoi éventuel de newsletter les informant des évolutions de la marque.


    </div>
</div>



</body>



{% endblock %}
