{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(formPassword, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(formPassword) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
    </div>
{{ form_end(formPassword) }}
