{% trans_default_domain 'FOSUserBundle' %}

<table style="width:100%">
  <thead>

    <td>Numéro</td>
    <td>Date</td>

<td>Ville</td>
</thead>
<tbody>

{% for liste in listeCommandeDone %}
<tr>
    <td>{{ liste.id}}</td>
    <td></td>
    <td></td>
  </tr>
{% endfor %}
  <tbody>

</table>
