{% trans_default_domain 'FOSUserBundle' %}


{% if listeCommandeDone %}
    {% for liste in listeCommandeDone %}

        <div class="panel panel-info">

            <div class="panel-heading"><h3 class="panel-title">Commande {{ liste.id}}  -   <a download="Facture" href="{{ asset('facturation/facture' ~ liste.id ~'.pdf' ) }}">Télécharger la facture <i class="fa fa-download" aria-hidden="true"></i>
                    </a></h3>
            </div>
            <div class="panel-body">

                {{ liste.date|date("m/d/Y")}}
                {{ liste.transportmethod }}


            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-info" role="alert">Vous n'avez pas encore fait de commande</div>
{% endif %}

