{% trans_default_domain 'FOSUserBundle' %}


{% if listeCommande is empty %}
<div class="alert alert-info" role="alert">Vous n'avez pas de commande en cours</div>

    {% else %}

{% for liste in listeCommande %}

<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Commande {{ liste.id}}   </h3>
    </div>
    <div class="panel-body">

        {{ liste.date|date("m/d/Y")}}

    </div>
</div>
{% endfor %}
{% endif %}
