{% trans_default_domain 'FOSUserBundle' %}


{% if listeCommandeDone %}
    {% for liste in listeCommandeDone %}

        <div class="panel panel-info">

            <div class="panel-heading"><h3 class="panel-title">Commande {{ liste.id}}  -   <a href="{{path('facture', {'id': liste.id} )}}">Télécharger la facture <i class="fa fa-download" aria-hidden="true"></i>
                    </a></h3>
            </div>
            <div class="panel-body">

                {{ liste.date|date("m/d/Y")}}
                {% if liste.transportmethod %}{{ liste.transportmethod.name }}{% else %}retrait en atelier{% endif %}


            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-info" role="alert">Vous n'avez pas encore fait de commande</div>
{% endif %}
