{% extends 'base.html.twig' %}


{% block body %}

<body>
<!-- FAQ START -->
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12"><h1 style="padding: 30px 0px;">FOIRE AU QUESTIONS</h1></div>
    </div> 
</div>
<div class="container text-center">
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
        <div class="row text-center">
            <div class="col-sm-11"><h4 class="panel-title">
                <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</a></h4>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-2x fa-plus" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse1"></i>
            </div>
        </div> 
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row text-center">
            <div class="col-sm-11"><h4 class="panel-title">
                <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</a></h4>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-2x fa-plus" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse2"></i>
            </div>
        </div> 
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row text-center">
            <div class="col-sm-11"><h4 class="panel-title">
                <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</a></h4>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-2x fa-plus" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse3"></i>
            </div>
        </div> 
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row text-center">
            <div class="col-sm-11"><h4 class="panel-title">
                <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</a></h4>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-2x fa-plus" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="#collapse4"></i>
            </div>
        </div> 
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>


</div>
</div>
<!-- FAQ FIN -->
</body>



{% endblock %}
