{% extends 'base.html.twig' %}


{% block body %}
    Hello Workd, ceci est ma page d'index

    <button type="button" class="success button">Save</button>
    <button type="button" class="alert button">Delete</button>
{% endblock %}

