{% extends 'base.html.twig' %}


{% block body %}

<body id="page-top" ng-app="noeudPap" ng-controller="noeudPapController as noeudPap">
	<!-- Message d'accueil -->
    <section id="slider-homepage">
        <div class="container">
				{% if app.user.isPro == 2 %}

				<div class="row text-center" style="margin-top:30px;">

			{% for color in listecolor %}

				<div class="col-md-3 col-sm-6 hero-feature">
						<div class="thumbnail">
								<img  style="max-height:50px; max-width:50px" src="{{ asset('/upload/color/thumbnail/' ~ color.imageColorName ) }}" alt="">
								<div class="caption">
										<h3>{{ color.name_public }}</h3>

										<p>
												<a style"padding:-5px;" href="{{ path('addedTissutoCart', {'id': color.id, 'idCollection' : thiscollection.id }) }}" class="btn btn-primary btn-lg active btn_send">Ajouter au panier</a>
										</p>
										<p>
												<a style"padding:-5px;" onclick="addtoCart('{{color.id}}', 'Tissu')" class="btn btn-primary btn-lg active btn_send">Ajouter au panier</a>
										</p>
								</div>
						</div>
				</div>

	{% endfor %}
	{% else %}

	<h2>Vous n'êtes pas autorisé à acceder à cette page</2>


{% endif %}




		</div>

        </div>
    </section>

    <section id="homepage-collections">
        <div class="container-fluid">

        </div>
    </section>

		<script>
			function addtoCart(color, product){
				var array_cart = [color, product];
			}

			array_cart.forEach(function(element)){
			console.log(element)
			});

		</script>


{% endblock %}
