{% extends 'base.html.twig' %}


{% block body %}

<body>

<!-- Qui sont ses gens -->
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12"><h1 class="heading">AGATHE VOUS GÂTE</h1></div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12"><img src="{{ asset('upload/image_site/apropos.jpg')}}" class="img-circle"alt="Face_agathevousgate" style="max-width: 250px; max-height: 250px; width: 30rem; height: 30rem;"></br><h2>Agathe Lefeuvre</h2></div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <p>Un trou noir possède une masse donnée, concentrée en un point que l’on appelle singularité gravitationnelle. Cette masse permet de définir une sphère appelée horizon du trou noir, centrée sur la singularité et dont le rayon est une limite maximale en deçà de laquelle le trou noir empêche tout rayonnement et a fortiori toute matière de s’échapper. Cette sphère représente en quelque sorte l’extension spatiale du trou noir. C’est ainsi que le terme « trou » est inapproprié : il serait plus correct de parler de « boule noire » pour conceptualiser concrètement sa forme physique réelle tridimensionnelle dans l’espace. Pour un trou noir de masse égale à celle du Soleil, son rayon vaut environ 3 kilomètresNote 1. À une distance interstellaire (en millions de kilomètres), un trou noir n’exerce pas plus d’attraction que n’importe quel autre corps de même masse ; il ne s’agit donc pas d’un « aspirateur » irrésistible. Par exemple, si le Soleil se trouvait remplacé par un trou noir de même masse, les orbites des corps tournant autour (planètes et autres) resteraient pour l'essentiel inchangées (seuls les passages à proximité de l'horizon induiraient un changement notable).</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <p>Un trou noir est un objet astrophysique comme un autre. Il se caractérise par le fait qu’il est très difficile à observer directement (voir ci-dessous), et que sa région centrale ne peut être décrite de façon satisfaisante par les théories physiques en leur état du début du XXIe siècle, car elle abrite une singularité gravitationnelle. Cette dernière ne peut être décrite que dans le cadre d’une théorie de la gravitation quantique, manquante à ce jourNote 2. En revanche, on sait parfaitement décrire les conditions physiques qui règnent dans son voisinage immédiat, de même que son influence sur son environnement, ce qui permet de les détecter par diverses méthodes indirectes.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <p>L’existence des trous noirs est envisagée dès le XVIIIe siècle indépendamment par John Michell9 et Pierre-Simon de Laplace. Il s’agissait alors d’objets prédits comme suffisamment denses pour que leur vitesse de libération soit supérieure à la vitesse de la lumière — c’est-à-dire que même la lumière ne peut vaincre leur force gravitationnelle. Plutôt qu’une telle force (qui est un concept newtonien), il est plus juste de dire que la lumière subit en fait un décalage vers le rouge infini.</p>
        </div>
    </div>
</div>

</body>



{% endblock %}
