{% extends 'base.html.twig' %}


{% block body %}

<body>

<!-- Qui sont ses gens -->
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12"><h1 class="heading">AGATHE VOUS GÂTE</h1></div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12"><img src="{{ asset('upload/image_site/apropos.jpg')}}" class="img-circle"alt="Face_agathevousgate" style="max-width: 250px; max-height: 250px; width: 30rem; height: 30rem;"></br><h2>Agathe Lefeuvre</h2></div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <p>{{ text.text }}</p>
        </div>
    </div>
</div>

</body>



{% endblock %}
