{% extends 'base.html.twig' %}



{% block body %}


<body>
<section>
    <div class="container">
      <div class="alert alert-success" role="success" style="margin-top:20px;">
        {{charge}}
        
    </div>
  </section>
</body>




{% endblock %}
