{% for addedproduct in listeAddedProduct %}
{{ addedproduct.id }}
{% endfor %}


{% for color in listeColor %}
    {{ color.name }}
{% endfor %}

<button type="button" class="success button">Save</button>
<button type="button" class="alert button">Delete</button>