html,
body {
    width: 99%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #f2aeae;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f2aeae;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #F19E9E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #f2aeae;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f2aeae;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f2aeae;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f2aeae!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(34,34,34,.05);
        background-color: #FFF;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: #f2aeae;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f2aeae;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #444;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #f2aeae;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: rgba(255, 255, 255, 0.95);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f2aeae;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #F58E8E;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f2aeae;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #696767;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        /*max-width: 1000px;*/
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(226, 142, 124, 0.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f2aeae;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f2aeae;
    color: #fff;
    background-color: #f2aeae;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #F19E9E;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f2aeae;
    background-color: #f2aeae;
}

.btn-primary .badge {
    color: #f2aeae;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

/* PLUGIN DU NOEUD PAPILLON */
.noeud > aside { text-align: center; }

.noeud cite { font-style: italic; }

.noeud .thumbnail .full {
  min-width: 100px;
  min-height: 150px;
}

.img-thumbnails {
	padding-left: 0;
}

.img-thumbnails li {
	margin: 3px;
}

.thumbnail img {
	max-height: 40px;
	max-width: 	40px;
	
}

.activeThumb {
	border: 1px solid green;
}

#accordion .panel-heading {
	background-color: #F9F9F9;
}

#accordion a:hover, #accordion a:focus{
	text-decoration: none;
}


/* NOUVELLES PROPRIETES */

#map {
	margin-top: 40px;
	width: 100%;
	height: 400px;
}

li.open #dropdownMenu1 {
	background-color: rgba(238, 238, 238, 0.73);
}

ul.dropdown-menu{
	background-color: rgba(250, 250, 250, 0.95);
}

#suggestions {
	padding-top: 50px;
	padding-bottom: 0;
    margin-bottom: 50px;
}

.panier-delete{
    margin-bottom: 3px;
}

.form-index-access {
    width:700px;
    margin: auto;
    text-align: center;
}

.alert-boutique{
    position : fixed;
    top: 50px;
    right: 110px;
    z-index: 9999;
}

.menu-panier .badge{
    position: relative;
    top: -15px;
    background-color: #D9534F;
    font-size: 10px;
    padding: 3px 5px;
}

.menu-account .glyphicon{
    color: green;
    position: relative;
    top: -13px;
    font-size: 12px;
    padding: 3px 1px;
}

.help-block{
    font-size: 12px;
}

footer{
    text-align: center;
    background: #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
}

#inscription-form{
    max-width: 500px;
    margin: auto;
}

#inscription-form h1{
    margin-bottom: 20px;
}

.inscription{
    padding-top: 80px;
    padding-left: 30px;

}

.account-form{
    max-width: 500px;
    margin: auto;
}

.account-form h1{
    margin-bottom: 20px;
}

.account{
    padding-top: 80px;
    padding-left: 30px;

}

.menu-left{
    margin-left: 20px;
    margin-top: 10px;
}

.menu-left a{
    font-size: 16px;
}

.img-principal-menu{
    height: 80px;
    margin-top: -10px;
}

.img-menu-question{
    height: 30px;
}

#mainNav{
    border-color: white;
}

#mainNav a{
    font-size: 15px !important;
}

.index-carousel{
    margin-top: 60px;
}

#slider-homepage{
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 50px;
}

.homepage-text{
    width: 380px;
    text-align: center;
    font-size: 20px;
}

.homepage-text-details{
    width: 380px;
    text-align: center;
    font-size: 12px;
}

#homepage-collections{
    text-align: center;
    padding-bottom: 0;
    padding-top:0;
}

.homepage-collections-img{
    margin-bottom: 15px;
}


.tab-noeud{
    padding: 20px;
}

.icone-tab{
    width: 90px;
}

.img-taille-acc{
    max-width: 300px;
}

.title-acc{
    text-align: center;
    margin-top: 20px;
}

.checkbox-taille{
    float: left;
    text-align:left;
    margin-top:10px !important;
}

.nav-tab-noeud a{
    margin: 4px;
}

.shadow {
    box-shadow: 0px 0px 5px 0px #e7eaec;
    border: 1px solid #e7eaec;
}

.homepage-social-img{
    max-width:140px;
    max-height:140px;
}

.homepage-made-in-france{
    max-width:90px;
    max-height:80px;
}

.general-footer{
    margin-top: 40px;
}

.logo-homepage{
    text-align: right;
}

.logo-homepage img{
    max-height: 250px;
}

.footer-content{
    margin-top: 10px;
    margin-bottom: 20px;
}

.homepage-collections-all{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.section-noeud{
    padding-top:20px;
    padding-bottom: 20px;
}

.plugin-options{
    border-bottom: 1px solid #ccc;
}

.first-title{
    margin-top: 80px
}



/****************************
    CUSTOM MEDIA QUERIES
*****************************/

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    html, body {
        width: 98%;
    }
    .form-index-access {
        width:480px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    html, body {
        width: 98%;
    }
    .footer-content div{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #C5BDBD;
        margin-right: 15px;
    }
    .homepage-social-img{
        max-height: 60px;
    }

    .homepage-collections-all{
        width: 300px;
    }
    .homepage-text-details {
        width: 320px;
    }
    .menu-left {
        margin-top: 40px;
    }
    .section-noeud{
        padding-top:0;
        padding-bottom: 20px;
    }
    .section-noeud img{
        height:220px;
    }
    .icone-tab {
        width: 45px;
    }
    .plugin-options{
        padding-top: 10px;
    }
    .first-title{
        margin-top: 100px
    }
    .homepage-text {
        width: 310px;
        text-align: center;
        font-size: 16px;
    }
    .title-acc {
        font-size: 20px;
    }
    .form-index-access {
        width:350px;
    }


}





