.nav_agathe_1 {
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0px;
    border-bottom: 1px solid #A94141;
    border-top: 1px solid #242258;

}

.nav_agathe_2 {
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 0px;
}

.nav_agathe_3 {
    background-color: rgba(255, 255, 255, 0.7);
}

nav_agathe_3 > button{
    margin-top: 1.75rem;
}

.navbar-nav {
    margin-left: 0px;
}

.navbar-nav>li:hover {
    border-bottom: 3px solid #A94141;
    border-top: 3px solid #242258;
    height: 56px;
}

.navbar-nav>li:active {
    border-bottom: 3px solid #A94141;
    border-top: 3px solid #242258;
}

.navbar-nav>.active {
    border-bottom: 3px solid rgb(169, 65, 65);
    border-top: 3px solid rgb(36, 34, 88);
    height: 56px;
}

.navbar-default .navbar-nav>.active>a {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-nav>li>a:hover {
    color: #A94141;
    margin-top: 0px;

}

.navbar-default .navbar-nav>.active>a {
    font-weight: bold;
    margin-top: 0px;
}

.navbar-default .navbar-nav>li>a {
margin-top: 3px;
}


.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.active>a {
    color: #A94141;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar_agathe {
    float: left;
    margin-left: 30px
}



.border_menu {
    border-radius: 1000px;
    padding: 5px 15px !important;
    margin-top: 6.8px;
    border: 2px solid rgb(169, 65, 65);
}

.border_menu:hover {
    border: 2px solid #242258;
    color: #242258 !important;
    margin-top: 1px !important;
}
.vtff{
  color:rgb(169, 65, 65) !important;
}
.vtff:hover{
  color:#242258 !important;
}
.flwus {
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    height: 5.4rem;
}

.fa-2x {
    font-size: 1.7em !important;
}

.affix {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.affix+.container {
    padding-top: 100px;
}

.footer {
    background-color: #3B3B3B;
    color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 10px;
}

.general-footer {
    padding-top: 30px;
    margin-top:70px;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
    overflow-x:hidden;
}

.footer, .push {
    min-height: 100px;
}

@media only screen and (max-width: 768px) {
    .hidden_small {
        display: none;
    }
    .gfy{
        margin-right: 4rem;
    }
}

@media only screen and (min-width: 768px) {
    .test_responsiv {
        display: none;
    }
}

.test_responsiv {
    padding-top: 2rem;
    padding-right: 1rem;
}

.test_responsiv>li {
    display: inline;
}

.heading {
    margin-top: 7rem;
    margin-bottom: 4.5rem;
}

.image_menu_scroll {
    height: auto;
    max-width: 6rem !important;
    position: relative;
    top: -0.75rem;
}
.image_menu_scroll:hover {
    height: auto;
    max-width: 6rem;
    position: relative;
    top: -0.70rem;
}
.image_menu_scroll:active {
    height: auto;
    max-width: 6rem;
    position: relative;
    top: 0rem;
}

.no_hover>li {
  border-bottom: 5px solid rgba(255, 0, 0, 0.01)!important;
  border-top: 5px solid rgba(255, 0, 0, 0.01)!important;
  height: 56px;
}
.no_hover>li:hover {
  border-bottom: 5px solid rgba(255, 0, 0, 0.01)!important;
  border-top: 7px solid rgba(255, 0, 0, 0.01)!important;
  height: 56px;
}
.no_hover>li:active {
  border-bottom: 5px solid rgba(255, 0, 0, 0.01)!important;
  border-top: 5px solid rgba(255, 0, 0, 0.01)!important;
  height: 56px;
}

.logo_nav{
    position:relative;
}

.logo_nav > img {
    height: auto;
    max-height:35px;
}

.text-nav-up{
    margin-right:10px;
    color:#242258;
}

.social-icons > img {
    width: 100%; 
    height: auto;
    max-width:2.8rem;
    margin: -0.9rem;
}