.nav_agathe_1 {
    background-color: rgba(255, 255, 255, 0.7);
    /*height: 3em;*/
    margin-bottom: 0px;
    border-bottom: 3px solid #A94141;
    border-top: 3px solid #242258;
    /*top: 40px;*/
    /*test-centré better*/
    /*padding-top:5px*/
}

.nav_agathe_2 {
    background-color: rgba(255, 255, 255, 0.7);
    /*height: 3em;*/
    padding-left: 0px;
}

.nav_agathe_3 {
    background-color: rgba(255, 255, 255, 0.7);
    /*height: 3em;*/
}

.navbar-nav {
    margin-left: 0px;
}

.navbar-nav>li:hover {
    border-bottom: 5px solid #A94141;
    border-top: 5px solid #242258;
    height: 56px;
    /*height: 3.3em;*/
}

.navbar-nav>li:active {
    border-bottom: 5px solid #A94141;
    border-top: 5px solid #242258;
    /*height: 3.3em;*/
}

.navbar-nav>.active {
    border-bottom: 5px solid rgb(169, 65, 65);
    border-top: 5px solid rgb(36, 34, 88);
    height: 56px;
}

.navbar-default .navbar-nav>.active>a {
    /*height: 3.3em;*/
    background-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-nav>.active>a:hover {
    /*height: 3.3em;*/
    background-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-nav>li>a:hover {
    color: #A94141;
    margin-top: -5px;
    /*test center-better*/
    /*padding-top: 10px;
    padding-bottom: 15px;*/
}

.navbar-default .navbar-nav>.active>a {
    margin-top: -5px;
    /*test center-better*/
    /*padding-top: 10px;
    padding-bottom: 15px;*/
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.active>a {
    color: #A94141;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar_agathe {
    float: left;
    margin-left: 30px
}


/*border radius menu*/

.border_menu {
    border-radius: 1000px;
    padding: 5px 15px !important;
    margin-top: 6.8px;
    border: 2px solid rgb(169, 65, 65);
}

.border_menu:hover {
    border: 2px solid #242258;
    color: #242258 !important;
    margin-top: 1px !important;
}

.flwus {
    background-color: rgba(255, 255, 255, 0.7);
    /*height: 3em;*/
    /*height: 50px; cette ligne fait buge chrome */
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    height: 5.4rem;
    /* padding-top: 12.5px; */
}

.fa-2x {
    font-size: 1.7em !important;
}

.affix {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.affix+.container {
    padding-top: 100px;
}

.footer {
    background-color: #3B3B3B;
    color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 10px;
}

.general-footer {
    /*bottom: 0;
    width: 100%;*/
    padding-top: 30px;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
    /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 100px;
    /* .push must be the same height as .footer */
}

@media only screen and (max-width: 768px) {
    .hidden_small {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .test_responsiv {
        display: none;
    }
}

.test_responsiv {
    padding-top: 0.75rem;
    padding-right: 1rem;
}

.test_responsiv>li {
    display: inline;
}

.heading {
    margin-top: 7rem;
    margin-bottom: 4.5rem;
}

.image_menu_scroll {
    height: auto;
    max-width: 6rem;
    position: relative;
    top: 1rem;
}
.image_menu_scroll:hover {
    height: auto;
    max-width: 6rem;
    position: relative;
    top: 0.5rem;
}
.no_hover>li:hover {
  border-bottom: 0px solid #A94141 !important;
  border-top: 0px solid #242258 !important;

}

.no_hover{}
