@import url(https://fonts.googleapis.com/css?family=Roboto:400,500italic,700,300);

body{
    background-color: #FFFFFF;
    /*padding-top: 0px;*/
    position: relative;
}
.header{
	padding-top: 2em;
}
.logo_div {
    background-color: #FFFFFF;
}
.customisation_noeud{
    background-color: #252259;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nos_collections{
padding-right: 0px;
padding-left: 0px;
}

.produits_populaires{
	background-color: #E8E8E8;
	padding-bottom: 20px;
	margin-top: 3em;
}

.made_in_france{
			padding-top: 3%;
			padding-bottom: 3%;
			height:80%;


}
.footer{
		background-color: #3B3B3B;
		color:#F5F5F5;
		padding-top: 10px;
		padding-bottom: 10px;
}
.produits_populaires_image{
		padding-left: 7.5px;
		padding-right: 7.5px;
}
.produits_populaires_image_left{
		padding-left: 0px;
		padding-right:15px;
}
.produits_populaires_image_right{
		padding-left: 15px;
		padding-right:0px;
}

.no_padding{
		padding-left: 0px;
		padding-right: 0px;
}


/*Police responsive*/
h1{
	font-size:1.5em;
	font-family: "Courrier", Times, serif;
	font-weight: bold;
	color:#242258;
}

h2{
	font-size:1.313em;
	font-family: "Courrier", Times, serif;
	color:#A94141;

}
h3{
	font-size:1.188em;
	/*color:#292929;*/
	color:#25225B;
	font-family: 'Roboto' !important;
	font-weight: bold;
}
p{
	font-size:1em;
	color:#3B3B3B;
	font-family: 'Roboto' !important;
}
a{
	font-size:1em;
	color:#242258;
	font-family: 'Roboto' !important;
	font-weight: bold;
}

.header h2{
	color:#25225B;
	font-size:1.75em;
	font-family: 'Roboto' !important;
	font-weight: bold;
}

.customisation_noeud h2{
color:#FFFFFF;
font-size:1.75em;
}