{% extends 'base.html.twig' %} {% block body %}

<body>
    <div class="container">
    <h1 class="text-center">
    Produits génériques
    </h1>
    {% for product in products %}
        <div class="row">
           <div class="col-sm-12 no_padding">
              <div class="panel-group" id="accordion">
                 <div class="panel panel-default" style="margin-top:20px; background-color:white;">
                    <div id="panel-heading-coffret" class="panel-heading panel-heading-plugin" style="background-color:#eae9e9!important">
                       <div class="row">
                          <div class="col-sm-11">
                             <h3 class="panel-title" >
                                {{ product.cartname }}
                             </h3>
                          </div>
                          <div class="col-sm-1 text-right">
                          </div>
                       </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" style="background-color:white;">
                       <div class="panel-body">
                          <div class="row">
                             <div class="col-sm-6 no_padding text-center">
                                <img style="max-height:350px;height:auto" src="">
                             </div>
                             <div class="col-sm-6 no_padding">
                                <div class="row">
                                   <div class="col-sm-12 center">
                                      <center>
                                         <h2>{{product.description}}</h2>
                                      </center>
                                   </div>
                                </div>
                                <div class="row">
                                   <div class="col-sm-12" style="padding:50px;">
                                      <center>
                                         <h4>{{product.price}}€ </h4>
                                      </center>
                                   </div>
                                </div>
                                <div class="row">
                                   <div class="col-sm-3" >
                                      <center>
<input style="width:70px" type="number" class="form-control" id="exampleInputEmail1" name="" value="1" >                                      </center>
                                   </div>
                                   <div class="col-sm-9" >
                                      <center>
                                         <a href="{{path('addGenericToCart', {'id': product.id, 'quantity': 2} )}}"><button  type="submit" style="margin-top:-5px;" class="btn btn-primary btn-lg active btn_send text-center">Ajouter au panier</button></a>
                                      </center>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      {% endfor %}

    </div>
</body>

{% endblock %}
